@charset "UTF-8";
#Mose {
  width: 100%;
  height: 100%;
}

#Mose .content {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

#Mose .sideNav {
  height: 27px;
  line-height: 27px;
  background: #efefef;
  border-bottom: #e7e7e7 solid 1px;
}

#Mose .sideNav .sideNavLeft {
  float: left;
}

#Mose .sideNav .sideNavLeft li {
  float: left;
}

#Mose .sideNav .sideNavLeft li a {
  font-size: 12px;
  color: #666;
  line-height: 27px;
  padding: 0px 18px 0px 18px;
}

#Mose .sideNav .sideNavLeft li a:hover {
  color: red;
}

#Mose .sideNav .sideNavLeft li .collect {
  background: url(../images/01/sideNav_ico.png) no-repeat 2px 3px;
}

#Mose .sideNav .sideNavLeft li .collect:hover {
  background: url(../images/01/sideNav_ico.png) no-repeat 2px -24px;
}

#Mose .sideNav .sideNavLeft li .attention {
  background: url(../images/01/sideNav_ico.png) no-repeat 2px -53px;
}

#Mose .sideNav .sideNavLeft li .attention:hover {
  background: url(../images/01/sideNav_ico.png) no-repeat 2px -80px;
}

#Mose .sideNav .sideNavRight {
  float: right;
}

#Mose .sideNav .sideNavRight li {
  float: left;
}

#Mose .sideNav .sideNavRight .welcome {
  font-size: 12px;
  padding-right: 18px;
  line-height: 27px;
  color: #666;
  margin-top: 1px;
  cursor: pointer;
  padding-right: 18px;
}

#Mose .sideNav .sideNavRight a {
  font-size: 12px;
  line-height: 27px;
  color: #666;
}

#Mose .sideNav .sideNavRight .login {
  padding-left: 18px;
}

#Mose .sideNav .sideNavRight .login:hover {
  color: #FF3D3B;
}

#Mose .sideNav .sideNavRight .register {
  padding-right: 18px;
}

#Mose .sideNav .sideNavRight .register:hover {
  color: #FF3D3B;
}

#Mose .sideNav .sideNavRight .Shopping {
  color: #fff;
  padding: 0px 18px 0px 27px;
  background: #FF3D3B url(../images/01/sideNav_ico.png) no-repeat 7px -108px;
}

#Mose .sideNav .sideNavRight .Shopping:hover {
  color: #000;
  background: #FF3D3B url(../images/01/sideNav_ico.png) no-repeat 7px -135px;
}

#Mose .sideNav .sideNavRight .Online_service {
  padding: 0px 18px 0px 27px;
  background: url(../images/01/sideNav_ico.png) no-repeat 11px -162px;
}

#Mose .sideNav .sideNavRight .Online_service:hover {
  color: #FF3D3B;
  background: url(../images/01/sideNav_ico.png) no-repeat 11px -189px;
}

#Mose .header {
  height: 158px;
  position: relative;
}

#Mose .header .inHeaderT {
  height: 124px;
  width: 100%;
}

#Mose .header .inHeaderT .log {
  width: 236px;
  height: 78px;
  float: left;
  padding: 18px 0 0 33px;
}

#Mose .header .inHeaderT .log a {
  background: url(../images/01/logo拷贝.png) no-repeat;
  display: block;
  width: 124px;
  height: 66px;
  text-indent: -9999px;
  overflow: hidden;
  margin-bottom: 5px;
}

#Mose .header .inHeaderT .log span {
  display: block;
  width: 120px;
  height: 12px;
  background: url(../images/01/05.png) no-repeat;
}

#Mose .header .inHeaderT .search {
  width: 477px;
  height: 50px;
  float: left;
  margin-top: 24px;
  margin-right: 122px;
}

#Mose .header .inHeaderT .search .search-re {
  font-size: 12px;
  color: #cc0904;
}

#Mose .header .inHeaderT .search .searchTop {
  width: 477px;
  position: relative;
}

#Mose .header .inHeaderT .search .searchTop input {
  width: 477px;
  height: 30px;
  border: 1px solid #FF3D3B;
  margin: 5px 0px;
}

#Mose .header .inHeaderT .search .searchTop button {
  width: 110px;
  height: 30px;
  background: #FF3D3B;
  position: absolute;
  right: -1px;
  top: 6px;
}

#Mose .header .inHeaderT .search .searchLinks {
  font-size: 12px;
  color: #999999;
}

#Mose .header .inHeaderT .search .searchLinks a {
  color: #999999;
}

#Mose .header .inHeaderT .searchRight {
  float: right;
  width: 332px;
  height: 124px;
  background: url(../images/01/06.png) no-repeat 4px 40px;
}

#Mose .header .nav {
  width: 100%;
  height: 34px;
  background: #fff;
}

#Mose .header .nav .navAll {
  width: 190px;
  height: 34px;
  font-size: 12px;
  color: #fff;
  background: #ff3d3b url(../images/01/08.png) no-repeat 152px 14px;
  float: left;
  text-align: center;
  line-height: 34px;
}

#Mose .header .nav .inNav {
  width: 1010px;
  border-bottom: 1px solid #FF3D3B;
  float: left;
  height: 33px;
}

#Mose .header .nav .inNav li {
  float: left;
  line-height: 34px;
  padding-left: 20px;
}

#Mose .header .nav .inNav li a {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

#Mose .header .nav .inNav li a:hover {
  color: #FF3D3B;
}

#Mose .header .nav .inNav .inNav-dt a {
  width: 120px;
  display: block;
  height: 34px;
  background: url(../images/01/3013191871.gif) no-repeat 0px -1px;
}

#Mose .header .nav .inNav .inNav-tp a {
  width: 110px;
  display: block;
  height: 34px;
  background: url(../images/01/07.gif) no-repeat 0px -1px;
}

#Mose .header .serverMenu {
  width: 190px;
  height: 400px;
  background: url(../images/01/类目bg_1.png);
}

#Mose .header .serverMenu li {
  height: 50px;
  width: 100%;
}

#Mose .header .serverMenu li:hover {
  background: #fff;
}

#Mose .header .serverMenu li:hover a {
  color: #FF3D3B;
}

#Mose .header .serverMenu li a {
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  display: block;
  width: 100%;
}

#Mose .header .serverMenu li .x1 {
  background: url(../images/01/icon2.png) no-repeat 15px -43px;
}

#Mose .header .serverMenu li .x1:hover {
  background: url(../images/01/icon2.png) no-repeat 15px 7px;
}

#Mose .header .serverMenu li .x2 {
  background: url(../images/01/icon2.png) no-repeat 15px -143px;
}

#Mose .header .serverMenu li .x2:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -93px;
}

#Mose .header .serverMenu li .x3 {
  background: url(../images/01/icon2.png) no-repeat 15px -240px;
}

#Mose .header .serverMenu li .x3:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -190px;
}

#Mose .header .serverMenu li .x4 {
  background: url(../images/01/icon2.png) no-repeat 15px -341px;
}

#Mose .header .serverMenu li .x4:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -291px;
}

#Mose .header .serverMenu li .x5 {
  background: url(../images/01/icon2.png) no-repeat 15px -441px;
}

#Mose .header .serverMenu li .x5:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -391px;
}

#Mose .header .serverMenu li .x6 {
  background: url(../images/01/icon2.png) no-repeat 15px -542px;
}

#Mose .header .serverMenu li .x6:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -492px;
}

#Mose .header .serverMenu li .x7 {
  background: url(../images/01/icon2.png) no-repeat 15px -641px;
}

#Mose .header .serverMenu li .x7:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -591px;
}

#Mose .header .serverMenu li .x8 {
  background: url(../images/01/icon2.png) no-repeat 15px -741px;
}

#Mose .header .serverMenu li .x8:hover {
  background: url(../images/01/icon2.png) no-repeat 15px -691px;
}

#Mose .header .inServerMenuList .inServerMenuB {
  width: 607px;
  height: 396px;
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
  border-right: #ccc solid 1px;
  background: #fff;
  position: absolute;
  top: 157px;
  left: 265px;
  padding: 20px 20px;
  box-sizing: border-box;
  display: none;
}

#Mose .header .inServerMenuList .inServerMenuB li {
  margin-bottom: 12px;
}

#Mose .header .inServerMenuList .inServerMenuB li h3 {
  font-size: 14px;
}

#Mose .header .inServerMenuList .inServerMenuB li a {
  font-size: 12px;
  padding-right: 2px;
  line-height: 12px;
}

#Mose .main {
  overflow: hidden;
  padding-bottom: 120px;
  background: #f5f5f5;
}

#Mose .main .ban_wrap {
  width: 100%;
  height: 400px;
  background: #fff;
}

#Mose .main .ban_wrap .banner {
  float: left;
}

#Mose .main .ban_wrap .smallBanner {
  float: left;
}

#Mose .main .hotSales {
  width: 100%;
}

#Mose .main .hotSales .hot img {
  width: 190px;
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#Mose .main .hotSales .hotPic {
  float: left;
  width: 250px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#Mose .main .hotSales .hotPic:hover img {
  transform: scale(1.01);
}

#Mose .main .hotSales .hotPic img {
  width: 250px;
  float: left;
  overflow: hidden;
}

#Mose .main .bandSales {
  width: 100%;
  background: #f5f5f5;
}

#Mose .main .bandSales h2 {
  margin-top: 20px;
  width: 100%;
  height: 44px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

#Mose .main .bandSales h2 span {
  font-size: 14px;
  color: #000;
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainL {
  width: 191px;
  float: left;
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainC {
  float: left;
  width: 817px;
  height: 238px;
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainC ul {
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainC ul li {
  overflow: hidden;
  width: 204px;
  box-sizing: border-box;
  float: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainC ul li img {
  transition: transform 0.4s;
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainC ul li img:hover {
  transform: translateX(-5px);
}

#Mose .main .bandSales .inBandSalesMain .inBandSalesMainR {
  width: 191px;
  overflow: hidden;
  float: right;
}

#Mose .main .floor {
  width: 100%;
  background: #f5f5f5;
}

#Mose .main .floor .floor_1 {
  width: 100%;
  margin-top: 20px;
  background: #f5f5f5;
}

#Mose .main .floor .floor_1 .f_title {
  width: 100%;
  height: 38px;
}

#Mose .main .floor .floor_1 .f_title .f_ico {
  display: inline-block;
  width: 30px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ef0a4a;
  background: url(../images/01/001.png);
  margin-right: 15px;
}

#Mose .main .floor .floor_1 .f_title b {
  font-size: 18px;
  line-height: 38px;
  display: inline-block;
  vertical-align: bottom;
  font-weight: normal;
  color: #f02e4b;
}

#Mose .main .floor .floor_1 .f_con {
  width: 100%;
  height: 448px;
  border-top: 2px solid #ef0a4a;
  margin-top: 5px;
}

#Mose .main .floor .floor_1 .f_con .f_con_l {
  float: left;
  width: 299px;
  height: 448px;
  position: relative;
  overflow: hidden;
  background: #ccc;
}

#Mose .main .floor .floor_1 .f_con .f_con_r li {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}

#Mose .main .floor .jump {
  position: fixed;
  top: 10%;
}

#Mose .main .floor .jump ul {
  width: 64px;
  height: 400px;
  margin-left: 10px;
}

#Mose .main .floor .jump ul li {
  display: block;
  background-color: #fff;
  height: 39px;
  width: 54px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
  line-height: 20px;
  padding: 0px 4px 0px 4px;
  color: #999;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

#Mose .main .floor .jump ul li:hover {
  background: #FF3D3B;
}

#Mose .main .floor .jump ul .wtt {
  background: #FF3D3B;
}

#Mose .footer {
  width: 100%;
  height: 540px;
  background: #efefef;
  border-top: #ff3333 solid 2px;
  padding-top: 24px;
  overflow: hidden;
}

#Mose .footer .inFooter {
  width: 1200px;
  margin: 0px auto;
  height: 214px;
  position: relative;
}

#Mose .footer .inFooter .inFooterInfo ul {
  float: left;
  width: 152px;
}

#Mose .footer .inFooter .inFooterInfo ul li {
  text-align: center;
}

#Mose .footer .inFooter .inFooterInfo ul li a {
  font-size: 12px;
  height: 22px;
  color: #3c3c3c;
}

#Mose .footer .inFooter .inFooterInfo ul li:hover a {
  color: #f02e4b;
}

#Mose .footer .inFooter .inFooterInfo ul .bt {
  margin-bottom: 18px;
  border-right: 1px #cccccc solid;
}

#Mose .footer .inFooter .inFooterInfo ul .bt h3 {
  font-size: 14px;
  font-weight: bold;
  height: 18px;
}

#Mose .footer .inFooter .inFooterKefu {
  width: 240px;
  height: 160px;
  position: absolute;
  right: 199px;
  top: 0px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#Mose .footer .inFooter .inFooterKefu h3 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

#Mose .footer .inFooter .inFooterKefu p {
  font-size: 12px;
  text-align: center;
}

#Mose .footer .inFooter .inFooterKefu .q1 {
  margin-bottom: 10px;
}

#Mose .footer .inFooter .inFooterKefu .q3 {
  text-align: center;
}

#Mose .footer .inFooter .inFooterKefu .q3 img {
  margin-bottom: 5px;
}

#Mose .footer .inFooter .inFootercode {
  width: 196px;
  float: right;
  text-align: center;
}

#Mose .footer .inFooter .inFootercode h3 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px;
}

#Mose .footer .inFooter .inFootercode p {
  font-size: 12px;
  margin-left: 45px;
  width: 110px;
  text-align: center;
  line-height: 22px;
}

#Mose .footer .footService {
  background: #cccccc;
  width: 100%;
  text-align: center;
}

#Mose .footer .copyRight_con p {
  font-size: 12px;
  color: #333;
  line-height: 30px;
  padding: 10px 0;
  text-align: center;
}

#Mose .footer .copyRight_con p img {
  margin-bottom: 3px;
}

#Mose .footer .copyRight_con .a8 ul {
  width: 1066px;
  margin: auto;
  overflow: hidden;
}

#Mose .footer .copyRight_con .a8 ul li {
  float: left;
  margin: 0px 20px;
}

#Mose .footer .copyRight_con .a8 span {
  margin: 0px 10px;
}
