#listing {
    .content {
        width: 1200px;
        // background: #ccc;
        margin: auto;
        overflow: hidden;
    }

    // 顶部
    .sideNav {
        height: 27px;
        line-height: 27px;
        background: #efefef;
        border-bottom: #e7e7e7 solid 1px;

        .sideNavLeft {
            float: left;

            li {
                float: left;


                a {
                    font-size: 12px;
                    color: #666;
                    line-height: 27px;
                    padding: 0px 18px 0px 18px;

                    &:hover {
                        color: red;
                    }
                }

                .collect {
                    background: url(../images/01/sideNav_ico.png)no-repeat 2px 3px;

                    &:hover {
                        background: url(../images/01/sideNav_ico.png)no-repeat 2px -24px;
                    }
                }

                .attention {
                    background: url(../images/01/sideNav_ico.png)no-repeat 2px -53px;

                    &:hover {
                        background: url(../images/01/sideNav_ico.png)no-repeat 2px -80px;
                    }
                }

            }
        }






        .sideNavRight {
            float: right;

            li {
                float: left;
            }

            .welcome {
                font-size: 12px;
                padding-right: 18px;
                line-height: 27px;
                color: #666;
                margin-top: 1px;
                cursor: pointer;
                padding-right: 18px;
            }

            a {
                // padding: 0px 18px 0px 27px;
                font-size: 12px;
                line-height: 27px;
                color: #666;
            }

            .login {
                padding-left: 18px;

                &:hover {
                    color: #FF3D3B;
                }
            }

            .register {
                padding-right: 18px;

                &:hover {
                    color: #FF3D3B;
                }
            }

            .Shopping {
                color: #fff;
                padding: 0px 18px 0px 27px;
                background: #FF3D3B url(../images/01/sideNav_ico.png) no-repeat 7px -108px;

                &:hover {
                    color: #000;
                    background: #FF3D3B url(../images/01/sideNav_ico.png)no-repeat 7px -135px;
                }
            }

            .Online_service {
                padding: 0px 18px 0px 27px;

                background: url(../images/01/sideNav_ico.png)no-repeat 11px -162px;

                &:hover {
                    color: #FF3D3B;
                    background: url(../images/01/sideNav_ico.png)no-repeat 11px -189px;

                }
            }
        }
    }


    // 头部和导航
    .header {
        height: 158px;
        position: relative;


        .inHeaderT {
            height: 124px;
            width: 100%;

            .log {
                width: 236px;
                height: 78px;
                float: left;
                padding: 18px 0 0 33px;


                a {
                    background: url(../images/01/logo拷贝.png)no-repeat;
                    display: block;
                    width: 124px;
                    height: 66px;
                    text-indent: -9999px;
                    overflow: hidden;
                    margin-bottom: 5px;
                }

                span {
                    display: block;
                    width: 120px;
                    height: 12px;
                    background: url(../images/01/05.png)no-repeat;
                }
            }

            .search {
                width: 477px;
                height: 50px;
                float: left;
                margin-top: 24px;
                margin-right: 122px;

                .search-re {
                    font-size: 12px;
                    color: #cc0904;
                }

                .searchTop {
                    width: 477px;
                    position: relative;

                    input {
                        width: 477px;
                        height: 30px;
                        border: 1px solid #FF3D3B;
                        margin: 5px 0px;
                    }

                    button {
                        width: 110px;
                        height: 30px;
                        background: #FF3D3B;
                        position: absolute;
                        right: -1px;
                        top: 6px
                    }
                }



                .searchLinks {
                    font-size: 12px;
                    color: #999999;

                    a {
                        color: #999999;
                    }
                }
            }

            .searchRight {
                float: right;
                width: 332px;
                height: 124px;
                background: url(../images/01/06.png)no-repeat 4px 40px;
            }

        }

        .nav {
            width: 100%;
            height: 34px;
            background: #fff;

            .navAll {
                width: 190px;
                height: 34px;
                font-size: 12px;
                color: #fff;
                background: #ff3d3b url(../images/01/08.png)no-repeat 152px 14px;
                float: left;
                text-align: center;
                line-height: 34px;
            }

            .inNav {
                width: 1010px;
                border-bottom: 1px solid #FF3D3B;
                float: left;
                height: 33px;

                li {
                    float: left;
                    line-height: 34px;
                    padding-left: 20px;

                    a {
                        font-size: 13px;
                        font-weight: 600;
                        color: #000;

                        &:hover {
                            color: #FF3D3B;
                        }
                    }

                }

                .inNav-dt a {
                    width: 120px;
                    display: block;
                    height: 34px;
                    background: url(../images/01/3013191871.gif)no-repeat 0px -1px;
                    // background-size: 100%;
                    // margin-bottom: 2px;
                }

                .inNav-tp a {
                    width: 110px;
                    display: block;
                    height: 34px;
                    background: url(../images/01/07.gif)no-repeat 0px -1px;

                }
            }


        }

        .serverMenu {
            width: 190px;
            height: 400px;
            background: url(../images/01/类目bg_1.png);
            display: none;

            .xt {
                background: #fff;
            }

            .xq-block {
                display: block;
            }

            .xt_li {
                height: 50px;
                width: 100%;



                // -----------

                .inServerMenuB {
                    display: none;
                }

                .xq-block {
                    display: block;
                }

                .inServerMenuB {
                    opacity: .9;
                    width: 607px;
                    height: 396px;
                    border-top: #ccc solid 1px;
                    border-bottom: #ccc solid 1px;
                    border-right: #ccc solid 1px;
                    background: #fff;
                    position: absolute;
                    top: 157px;
                    left: 265px;
                    padding: 20px 20px;
                    box-sizing: border-box;
                    z-index: 20;





                    li {
                        margin-bottom: 12px;

                        h3 {
                            font-size: 14px;
                            font-weight: bold;
                            color: #333;
                            padding-bottom: 2px;
                        }

                        a {
                            font-size: 12px;
                            padding-right: 2px;
                            line-height: 12px;
                            color: #666;
                            margin-right: 8px;
                        }




                    }

                }

                // ----------------

                &:hover a {
                    color: #FF3D3B;
                }

                .nin {
                    font-size: 14px;
                    color: #fff;
                    line-height: 50px;
                    text-align: center;
                    display: block;
                    width: 100%;
                    height: 100%;


                    font {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                &:nth-child(1) {
                    background: url(../images/01/icon2.png)no-repeat 15px -43px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px 7px;
                    }
                }

                &:nth-child(2) {
                    background: url(../images/01/icon2.png)no-repeat 15px -143px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -93px;
                    }
                }

                &:nth-child(3) {
                    background: url(../images/01/icon2.png)no-repeat 15px -240px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -190px;
                    }
                }

                &:nth-child(4) {
                    background: url(../images/01/icon2.png)no-repeat 15px -341px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -291px;
                    }
                }

                &:nth-child(5) {
                    background: url(../images/01/icon2.png)no-repeat 15px -441px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -391px;
                    }
                }

                &:nth-child(6) {
                    background: url(../images/01/icon2.png)no-repeat 15px -542px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -492px;
                    }
                }

                &:nth-child(7) {
                    background: url(../images/01/icon2.png)no-repeat 15px -641px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -591px;
                    }
                }

                &:nth-child(8) {
                    background: url(../images/01/icon2.png)no-repeat 15px -741px;

                    &:hover {
                        background: url(../images/01/icon2.png)no-repeat 15px -691px;
                    }
                }
            }

        }

        .inServerMenuList {

            .inServerMenuB {
                width: 607px;
                height: 396px;
                border-top: #ccc solid 1px;
                border-bottom: #ccc solid 1px;
                border-right: #ccc solid 1px;
                background: #fff;
                position: absolute;
                top: 157px;
                left: 265px;
                padding: 20px 20px;
                box-sizing: border-box;
                display: none;

                li {
                    margin-bottom: 12px;

                    h3 {
                        font-size: 14px;
                    }

                    a {
                        font-size: 12px;
                        padding-right: 2px;
                        line-height: 12px;
                    }
                }

            }
        }
    }


    // 主要内容

    .main {
        width: 100%;

        .category-path {
            padding: 8px 5px 8px 5px;
            line-height: 18px;
            clear: both;
        }

        .hotProCategorySales {
            width: 208px;
            height: auto;
            border: solid 1px #CCCCCC;

            .hd {
                height: 36px;
                line-height: 36px;
                padding: 0 14px;
                border-bottom: 1px solid #CCCCCC;
                font-size: 14px;
                font-weight: 400;
                background-color: #fafafa;
                margin: 0;
            }

            .inhotProCategorySales {
                width: 208px;
                padding: 0 14px;
                overflow: hidden;
                margin: 0 auto;
                padding-left: 0;

                .inhotProCategorySales {
                    padding: 10px 0 0 0;
                    width: 208px;

                    a img {
                        padding: 0 54px;
                        height: 100px;
                        width: 100px;
                        margin: 0 auto;
                        margin-bottom: 6px;
                    }

                    .depict {
                        font: 12px/1.5 '\5fae\8f6f\96c5\9ed1', 'Lucida Grande', Arial, '\5b8b\4f53';
                        padding: 0 14px;
                        display: block;
                        height: 36px;
                        margin: 0;
                        line-height: 18px;
                        color: #666;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .price {
                        display: block;
                        margin: 6px 14px;
                        color: #F86F76;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #eee;
                    }
                }
            }

        }

        .category-sort {
            float: left;
            width: 260px;

            span {
                font: 12px/1.5 "微软雅黑", tahoma, arial, \5b8b\4f53;
                float: left;
                display: inline-block;
                padding: 5px 2px 8px 3px;
                line-height: 25px;
            }

            li {

                float: left;
                font: 12px/1.5 "微软雅黑", tahoma, arial, \5b8b\4f53;
                display: block;
                line-height: 25px;
                padding: 0px 10px 0px 10px;
                border: solid 1px #ddd;
                margin-top: 6px;
                margin-right: 5px;
                cursor: pointer;


            }

            .asc {
                position: relative;
                background: #F64900;
                border: 1px solid #E4393C;
                font-weight: 700;
                padding-right: 18px;
                color: #fff;


                b {
                    font-size: 0px;
                    height: 11px;
                    overflow: hidden;
                    position: absolute;
                    right: 6px;
                    top: 7px;
                    width: 9px;
                    background-image: url(../images/01/qo.png);
                    background-repeat: no-repeat;
                    background-position: 0px -12px;
                }
            }

            .desc {
                position: relative;
                color: #fff;
                background: #F64900;
                border: 1px solid #E4393C;
                font-weight: 700;
                padding-right: 18px;

                b {
                    font-size: 0px;
                    height: 11px;
                    overflow: hidden;
                    position: absolute;
                    right: 6px;
                    top: 7px;
                    width: 9px;
                    background-image: url(../images/01/qo.png);
                    background-repeat: no-repeat;
                }
            }


        }

        .price-region {
            width: 350px;
            margin-left: 25px;
            float: left;

            dt {
                font: 12px/1.5 "微软雅黑", tahoma, arial, \5b8b\4f53;
                float: left;
                display: inline-block;
                padding: 5px 2px 8px 3px;
                line-height: 25px;
            }

            dd {

                float: left;
                display: inline-block;
                padding: 5px 2px 8px 3px;
                line-height: 25px;

                a {
                    font: 12px/1.5 "微软雅黑", tahoma, arial, \5b8b\4f53;
                    display: block;
                    line-height: 25px;
                    padding: 0px 10px 0px 10px;
                    border: solid 1px #ddd;
                }

                input {
                    width: 40px;
                    border: solid 1px #ddd;
                    padding: 0;
                    margin: 0;
                    line-height: 20px;
                    height: 20px;
                    text-align: center;
                }

            }
        }


        .m-products-show {
            .select-list {
                overflow: hidden;

                .sel-shop-iteam {
                    position: relative;
                    overflow: visible;
                    width: 223px;
                    height: 250px;
                    padding-bottom: 10px;
                    border-radius: 10px;
                    border: solid 4px #fff;
                    cursor: pointer;
                    float: left;
                    margin: 10px 0px 0px 9px;


                    &:hover {
                        border-color: rgb(221, 221, 221)
                    }

                    .s-pic {
                        text-align: center;
                        height: 165px;
                        z-index: 1;
                        overflow: hidden;
                        margin-top: 5px;
                        vertical-align: middle;

                        a {
                            height: 100%;
                            border: none;
                            display: block;

                            img {
                                width: 158px;
                                height: 158px;
                                vertical-align: middle;
                            }
                        }
                    }

                    .cart-price {
                        text-align: center;
                        line-height: 18px;
                        height: 22px;
                        margin: 0px 0px 0px 0px;

                        .price {
                            width: auto;
                            float: none;
                            line-height: 18px;
                            font-size: 14px;
                            font-weight: bold;
                            margin-left: 0px;
                            color: #990033;
                        }
                    }

                    .s-dec {
                        font: 12px/1.5 "微软雅黑", tahoma, arial, \5b8b\4f53;
                    }
                }

            }
        }

        .pager {
            width: 97%;
            margin-right: 3%;
            float: left;
            font-size: 12px;
            color: #999;
            clear: both;
            margin-top: 40px;
            margin-bottom: 10px;

            a {
                color: #666;
            }

            .con {
                float: right;

                .last {
                    float: left;
                    border: #CCCCCC 1px solid;
                    padding-left: 15px;
                    padding-right: 15px;
                    height: 25px;
                    line-height: 25px;
                    margin-right: 15px;
                    background-color: #FFFFFF;
                }

                .items {
                    float: left;
                    margin-right: 30px;



                    .item-cur {
                        float: left;
                        margin-right: 10px;
                        border: #CCCCCC 1px solid;
                        padding-left: 15px;
                        padding-right: 15px;
                        height: 25px;
                        line-height: 25px;
                        background-color: #ccc;
                        color: #FFFFFF;
                    }

                    .item {
                        float: left;
                        margin-right: 10px;
                        border: #CCCCCC 1px solid;
                        padding-left: 15px;
                        padding-right: 15px;
                        height: 25px;
                        line-height: 25px;
                        background-color: #FFFFFF;
                    }
                }

                .next {
                    float: left;
                    border: #CCCCCC 1px solid;
                    padding-left: 15px;
                    padding-right: 15px;
                    height: 25px;
                    line-height: 25px;
                    background-color: #FFFFFF;
                }

                .total {
                    float: left;
                    height: 25px;
                    line-height: 25px;
                    margin-right: 50px;
                    padding-left: 10px;
                }

                .to {
                    float: left;
                    height: 25px;
                    line-height: 25px;
                    margin-right: 10px;
                    padding-left: 10px;

                    input {
                        border: #ccc solid 1px;
                        height: 22px;
                        width: 33px;
                        margin-left: 10px;
                        margin-right: 0px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }

                .ensure {
                    float: left;
                    height: 25px;
                    line-height: 25px;
                    padding-left: 0px;
                    margin-left: 0px;
                }
            }
        }
    }

    // 底部部分
    .footer {
        width: 100%;
        height: 540px;
        background: #efefef;
        border-top: #ff3333 solid 2px;
        padding-top: 24px;
        overflow: hidden;

        .inFooter {
            width: 1200px;
            margin: 0px auto;
            height: 214px;
            position: relative;

            .inFooterInfo {

                ul {
                    float: left;
                    width: 152px;

                    li {
                        text-align: center;

                        a {
                            font-size: 12px;
                            height: 22px;
                            color: #3c3c3c;
                        }

                        &:hover a {
                            color: #f02e4b;

                        }
                    }

                    .bt {
                        h3 {
                            font-size: 14px;
                            font-weight: bold;
                            height: 18px;
                        }

                        margin-bottom: 18px;
                        border-right: 1px #cccccc solid;
                    }
                }
            }

            .inFooterKefu {
                width: 240px;
                height: 160px;
                position: absolute;
                right: 199px;
                top: 0px;
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;

                h3 {
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                }

                .q1 {
                    margin-bottom: 10px;
                }

                .q3 {
                    text-align: center;

                    img {
                        margin-bottom: 5px;
                    }
                }
            }

            .inFootercode {
                width: 196px;
                float: right;
                text-align: center;


                h3 {
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 5px 0px;
                }

                p {
                    font-size: 12px;
                    margin-left: 45px;
                    width: 110px;
                    text-align: center;
                    line-height: 22px;
                }
            }


        }

        .footService {
            background: #cccccc;
            width: 100%;
            text-align: center;
        }

        .copyRight_con {
            p {
                font-size: 12px;
                color: #333;
                line-height: 30px;
                padding: 10px 0;
                text-align: center;

                img {
                    margin-bottom: 3px;
                }

            }

            .a8 {
                ul {
                    width: 1066px;
                    margin: auto;
                    overflow: hidden;

                    li {
                        float: left;
                        margin: 0px 20px;
                    }
                }

                span {
                    margin: 0px 10px;
                }
            }
        }
    }

}